@charset "utf-8";

#searchInput{
	width:500px;
}



#titleCol{
	width:400px;
}


#postWriteTable input{
	background-color: whitesmoke;
	font-size: 15pt;
	width:99%;
	height:30px;
	margin-bottom:15px;
	margin-top:15px;
}

#postWriteTable textarea{
	background-color: whitesmoke;
	font-size: 15pt;
	width:100%;
	height:400px;
	margin-bottom:30px;
	margin-top:15px;
}

#postWriteTable button{
	font-size: 15pt;
	width:70px;
	height:40px;
	margin-bottom:30px;
}

#postWriteTable{
	width:70%;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
}

.snsReplyWriteTable{
	width:70%;
}

.snsReplyWriteTable input{
	width:80%;
}


