@charset "UTF-8";

.joinForm{
	margin-left: 20px;
	margin-right: 20px;
	width : 70%;
	font-family: 'Hi Melody', sans-serif;
}

.joinForm img{
	object-fit:cover;
}

.joinForm input{
	font-weight: bold;
}

#photoLabel{
	background-color:white;
}

#photoLabel:hover{
	background-color:#e2e8f0;
}

#joinTitle{
	font-size: 30pt;
}

.joinForm input{
	align-items: center;
	align-content: center;
	text-align: center;
}

#pm_jumin2{
	width:20px;
}