<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charSet="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="twitter:card" content="summary" />
<meta name="author" content="KorLARK" />
<meta name="keywords"
	content="KLOA,클로아,KorLARK,통디,로아통디,로아디코,코라크,코아크,로아크,로스트아크,경매장,거래소,떠돌이 상인,떠상" />
<meta name="application-name" content="클로아" />
<meta name="theme-color" content="#5865f2" />
<link rel="icon" href="/favicon.ico" type="image/ico" />
<link rel="icon" href="/favicon/x16.ico" type="image/ico" sizes="16x16" />
<link rel="icon" href="/favicon/x32.ico" type="image/ico" sizes="32x32" />
<link rel="icon" href="/favicon/x64.ico" type="image/ico" sizes="64x64" />
<link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
<link rel="apple-touch-icon" href="/icons/apple/touch_x72.png"
	type="image/png" sizes="72x72" />
<link rel="apple-touch-icon" href="/icons/apple/touch_x120.png"
	type="image/png" sizes="120x120" />
<link rel="apple-touch-icon" href="/icons/apple/touch_x144.png"
	type="image/png" sizes="144x144" />
<link rel="apple-touch-icon" href="/icons/apple/touch_x180.png"
	type="image/png" sizes="180x180" />
<link rel="apple-touch-icon" href="/icons/apple/touch_x192.png"
	type="image/png" sizes="192x192" />
<title>전투정보 - 클로아</title>
<meta name="robots" content="index,follow" />
<meta name="description" content="Lv. undefined undefined @undefined" />
<link rel="alternate" media="only screen and (max-width: 640px)"
	href="https://m.kloa.gg/characters/" />
<meta property="og:title" content="전투정보 - 클로아" />
<meta property="og:description"
	content="Lv. undefined undefined @undefined" />
<meta property="og:url" content="https://kloa.gg/characters/" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/icons/x512.png" />
<meta property="og:image:alt" content="클로아 로고" />
<meta property="og:locale" content="ko-KR" />
<meta property="og:site_name" content="KLOA" />
<link rel="canonical" href="https://kloa.gg/characters/" />
<link rel="preload" as="image"
	href="https://cdn.korlark.com/images/kloa1.webp" fetchpriority="high" />
<link rel="preload" as="image"
	href="https://cdn.korlark.com/images/kloa2.webp" fetchpriority="high" />
<meta name="next-head-count" content="32" />
<meta charSet="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1" />
<link rel="dns-prefetch" href="https://api.korlark.com" />
<link rel="dns-prefetch" href="https://cdn.korlark.com" />
<link rel="preload"
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css"
	as="style" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css" />
<script id="preThemeInit" data-nscript="beforeInteractive">
	let theme
	try {
		theme = JSON.parse(localStorage['deviceOptionsStorage']).state.theme
	} catch (e) {
		theme = 'auto'
	}
	if (theme === 'dark'
			|| (theme === 'auto' && window
					.matchMedia('(prefers-color-scheme: dark)').matches)) {
		document.documentElement.classList.add('dark')
	} else {
		document.documentElement.classList.remove('dark')
	}
</script>
<link rel="preload" href="/_next/static/css/a2b19e06222a4ba6.css"
	as="style" />
<link rel="stylesheet" href="/_next/static/css/a2b19e06222a4ba6.css"
	data-n-g="" />
<noscript data-n-css=""></noscript>
<script defer="" nomodule=""
	src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"></script>
<script src="/_next/static/chunks/webpack-f5f0671be833ee50.js" defer=""></script>
<script src="/_next/static/chunks/framework-f29e48ae95cae5a3.js"
	defer=""></script>
<script src="/_next/static/chunks/main-d16e333beeabbcec.js" defer=""></script>
<script src="/_next/static/chunks/pages/_app-827d1b80119b45d4.js"
	defer=""></script>
<script src="/_next/static/chunks/8943-fa34e16bf54d4c26.js" defer=""></script>
<script src="/_next/static/chunks/6577-86955b5449c93e75.js" defer=""></script>
<script src="/_next/static/chunks/3054-f31c49b46eb98342.js" defer=""></script>
<script src="/_next/static/chunks/2710-7fe941a88c7f66e0.js" defer=""></script>
<script src="/_next/static/chunks/9926-c9196c2893a9e0e3.js" defer=""></script>
<script src="/_next/static/chunks/6563-f2021e917f772159.js" defer=""></script>
<script src="/_next/static/chunks/2084-c7323c614d410be3.js" defer=""></script>
<script src="/_next/static/chunks/3289-96d968316b665ef1.js" defer=""></script>
<script src="/_next/static/chunks/684-98c6a3038d7d63e2.js" defer=""></script>
<script src="/_next/static/chunks/9781-de18127b410527d0.js" defer=""></script>
<script
	src="/_next/static/chunks/pages/characters/%5Bnickname%5D-2ce460a2f1faeb17.js"
	defer=""></script>
<script src="/_next/static/ynOTelbbD-sTJWejH7YeY/_buildManifest.js"
	defer=""></script>
<script src="/_next/static/ynOTelbbD-sTJWejH7YeY/_ssgManifest.js"
	defer=""></script>
</head>
<body>
	<div id="__next">
		<header
			class="fixed top-0 left-0 right-0 z-20 h-[68px] min-w-[1200px] select-none">
			<nav
				class="flex flex-col w-full h-full bg-white dark:bg-[#33353a] border-b-2 border-basicGrey dark:border-[#42464D]">
				<div class="flex items-center justify-between grow">
					<div
						class="shrink-[2] basis-[400px] min-w-fit pl-3 md:pl-10 md:pr-5">
						<a class="h-[27px] relative group" href="/"><img alt="KLOA"
							fetchpriority="high" width="96" height="27" decoding="async"
							data-nimg="1" style="color: transparent"
							src="https://cdn.korlark.com/images/kloa1.webp" /><img alt="KLOA"
							fetchpriority="high" width="96" height="27" decoding="async"
							data-nimg="1"
							class="absolute inset-0 transition duration-300 ease-in-out opacity-0 group-hover:opacity-100"
							style="color: transparent"
							src="https://cdn.korlark.com/images/kloa2.webp" /></a>
					</div>
					<div
						class="shrink-[1] basis-[1120px] w-full max-w-[1120px] flex justify-between items-center">
						<div class="hidden lg:block">
							<div class="flex text-base space-x-7 md:space-x-10">
								<a
									class="relative dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
									href="/notices">공지사항</a><a
									class="relative dark flex items-center cursor-pointer font-medium leading-[20px] active drop-in-underline dark:before:bg-[#a36bfc] text-main2 dark:text-[#a36bfc] false false"
									href="/characters">전투정보실</a><a
									class="dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
									href="/merchant">떠돌이 상인</a><a
									class="dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
									href="/exchange/sell">아이템 거래</a><a
									class="relative dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
									href="/crow">계산기</a>
							</div>
						</div>
						<div class="mb-1 ml-3 lg:ml-0 lg:mb-0">
							<div
								class="border-2 border-basicGrey dark:border-[#42464D] rounded-[10px] py-1 flex"
								style="width: 300px">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
									aria-hidden="true"
									class="w-6 h-6 my-auto mx-[10px] shrink-0 text-placeholder dark:text-[#656770]">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
								<form>
									<input type="text"
										class="w-full bg-transparent text-head dark:text-white font-medium truncate placeholder:text-placeholder placeholder:dark:text-[#656770]"
										placeholder="캐릭터명을 입력하세요" maxLength="12" spellcheck="false"
										value="" />
								</form>
							</div>
						</div>
					</div>
					<div
						class="shrink-[2] basis-[400px] min-w-fit pr-3 md:pr-6 flex items-center justify-end space-x-2">
						<div class="flex items-center mx-2 space-x-1">
							<div>
								<button aria-label="어두운 테마"
									class="self-center p-2 py-2 transition-colors duration-300 ease-in-out hover:bg-basicGrey dark:hover:bg-[#40434a] hover:text-main2 dark:hover:text-[#a36bfc] rounded-full">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
										fill="currentColor" aria-hidden="true"
										class="w-5 h-5 dark:text-[#eaf0ec]">
										<path fill-rule="evenodd"
											d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
											clip-rule="evenodd"></path></svg>
								</button>
							</div>
						</div>
						<a
							class="flex px-4 py-2 self-center rounded-md text-main2 dark:text-[#a36bfc] font-bold cs:text-[16px] text-[14px] hover:bg-basicGrey dark:hover:bg-[#2b2d31] transition-colors duration-300 ease-in-out"
							href="/auth/login">로그인</a>
					</div>
				</div>
				<div class="block lg:hidden overflow-hidden pl-3 pb-1.5">
					<div class="flex space-x-5 text-sm">
						<a
							class="dark flex items-center cursor-pointer font-medium leading-[20px] active drop-in-underline dark:before:bg-[#a36bfc] text-main2 dark:text-[#a36bfc] false false"
							href="/characters">전투정보실</a><a
							class="dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
							href="/crow">계산기</a><a
							class="dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
							href="/merchant">떠상</a><a
							class="dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
							href="/exchange/sell">거래소</a><a
							class="dark flex items-center cursor-pointer font-medium leading-[20px] text-placeholder dark:text-[#B9BBBE] hover:text-main2 dark:hover:text-[#a36bfc] transition-colors duration-300 ease-in-out transform-gpu drop-in-underline dark:hover:before:bg-[#a36bfc] false"
							href="/notices">공지</a>
					</div>
				</div>
			</nav>
		</header>
		<div
			class="w-full min-h-full bg-lightGrey dark:bg-[#2b2d31] text-head dark:text-[#eaf0ec] min-[1260px]:flex min-[1260px]:justify-center relative">
			<div
				class="min-[1260px]:block hidden grow shrink bg-white dark:bg-[#33353a] pr-6">
				<div
					class="ml-auto w-[max(160px,min(300px,calc((100vw-1260px)/2)))] overflow-hidden h-[600px] mt-[60px]">
					<div>
						<ins class="block adsbygoogle h-[600px]"
							data-ad-client="ca-pub-2519817835153348"
							data-ad-slot="5149456459" data-full-width-responsive="true"></ins>
					</div>
				</div>
			</div>
			<button type="button" aria-hidden="true"
				style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></button>
			<div class="shrink-0 w-[1200px] flex justify-between relative">
				<section
					class="shrink-0 w-[400px] bg-white dark:bg-[#33353a] border-l dark:border-l-[#4d4f55] shadow-[5px_1px_8px_0_rgba(0,0,0,.06)] z-[1]">
					<div class="w-full h-[300px] bg-[#15181d] relative overflow-hidden">
						<div
							class="absolute inset-0 mix-blend-lighten transition-colors duration-[2000ms] ease-out bg-transparent"
							style="mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0) 70%); -webkit-mask-image: linear-gradient(100deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0) 70%)"></div>
						<div class="absolute top-0 right-0"></div>
					</div>
					<div class="mx-10 mt-8 space-y-8">
						<div class="space-y-3 [&amp;&gt;*]:py-1 select-none"
							role="tablist" aria-orientation="horizontal">
							<div class="flex items-center">
								<button id="headlessui-tabs-tab-:R29rbdj6:" role="tab"
									type="button" aria-selected="true" tabindex="0"
									data-headlessui-state="selected">
									<p
										class="text-xl font-light ui-selected:font-semibold ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">능력치</p>
								</button>
								<div
									class="mx-3 w-[2px] h-[18px] bg-basicGrey dark:bg-[#4d4f55]"></div>
								<button id="headlessui-tabs-tab-:R69rbdj6:" role="tab"
									type="button" aria-selected="false" tabindex="-1"
									data-headlessui-state="">
									<p
										class="text-xl font-light ui-selected:font-semibold ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">스킬</p>
								</button>
							</div>
							<button class="block" id="headlessui-tabs-tab-:Rhrbdj6:"
								role="tab" type="button" aria-selected="false" tabindex="-1"
								data-headlessui-state="">
								<p
									class="text-xl font-light ui-selected:font-semibold ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">아바타</p>
							</button>
							<button class="block" id="headlessui-tabs-tab-:Rprbdj6:"
								role="tab" type="button" aria-selected="false" tabindex="-1"
								data-headlessui-state="">
								<p
									class="text-xl font-light ui-selected:font-semibold ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">히스토리</p>
							</button>
							<button class="block" id="headlessui-tabs-tab-:R11rbdj6:"
								role="tab" type="button" aria-selected="false" tabindex="-1"
								data-headlessui-state="">
								<p
									class="text-xl font-light ui-selected:font-semibold ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">수집형
									포인트</p>
							</button>
							<button class="block" id="headlessui-tabs-tab-:R19rbdj6:"
								role="tab" type="button" aria-selected="false" tabindex="-1"
								data-headlessui-state="">
								<p
									class="text-xl font-light ui-selected:font-semibold ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">보유
									캐릭터</p>
							</button>
							<button class="block" disabled=""
								id="headlessui-tabs-tab-:R1hrbdj6:" role="tab" type="button"
								aria-selected="false" tabindex="-1" data-headlessui-state="">
								<div
									class="flex items-center text-xl font-light ui-selected:font-semibold ui-disabled:text-placeholder ui-selected:relative ui-selected:after:absolute ui-selected:after:left-0 ui-selected:after:w-full ui-selected:after:-bottom-0.5 ui-selected:after:h-0.5 ui-selected:after:border ui-selected:after:border-black ui-selected:after:dark:border-[#eaf0ec]">
									<p>길드</p>
								</div>
							</button>
						</div>
						<hr class="w-full h-[1px] dark:border-[#4d4f55]" />
						<div class="mt-8">
							<div>
								<ins class="block adsbygoogle w-[320px] h-[100px]"
									data-ad-client="ca-pub-2519817835153348"
									data-ad-slot="5149456459" data-full-width-responsive="true"></ins>
							</div>
						</div>
						<hr class="w-full h-[1px] dark:border-[#4d4f55]" />
						<p class="text-xs font-light text-center text-placeholder">
							<span>TODAY : <!-- -->0
							</span><span
								class="inline-block mx-2 w-[1px] h-[9px] bg-basicGrey dark:bg-[#4d4f55]"></span><span>TOTAL
								: <!-- -->0
							</span>
						</p>
					</div>
				</section>
				<section class="grow pb-[50px]">
					<div class="pl-[60px] pt-[25px] h-full">
						<div class="flex justify-between select-none">
							<a href="https://forms.gle/ViWgWGCYzZGgRhT96" target="_blank"
								class="px-3 bg-white h-6 dark:bg-[#33353a] rounded-lg border border-main2 dark:border-[#a36bfc] text-main2 dark:text-[#a36bfc] flex items-center gap-x-1 box-border shadow-[2px_2px_14px_0_rgba(49,85,181,.05)]"><svg
									xmlns="http://www.w3.org/2000/svg" fill="none"
									viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
									aria-hidden="true" class="w-4 h-4">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"></path></svg>
								<p class="text-sm font-medium">새로워진 클로아 어떠신가요? 소중한 의견
									부탁드립니다! (클릭)</p></a>
							<div
								class="flex justify-end items-center gap-x-1.5 mb-[10px] mr-[1px]">
								<p class="text-sm"></p>
								<button
									class="w-16 h-6 bg-[#dadada] dark:bg-[#44474d] disabled:bg-[#ececec] dark:disabled:bg-[#33353a] disabled:text-placeholder rounded-lg flex items-center justify-center select-none"
									disabled="">
									<p class="text-sm">갱신하기</p>
								</button>
							</div>
						</div>
						<div>
							<div class="space-y-6" id="headlessui-tabs-panel-:R6dbdj6:"
								role="tabpanel" tabindex="0" data-headlessui-state="selected">
								<div
									class="px-[17px] py-4 w-full bg-white dark:bg-[#33353a] dark:border-[#4d4f55] rounded-xl border box-border shadow-[1px_1px_10px_0_rgba(72,75,108,.08)]">
									<div class="grid grid-cols-2 gap-x-3">
										<div class="space-y-3">
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div class="h-[50px] px-0.5 grid grid-cols-2 items-center">
												<div
													class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton rounded-full w-11 h-11"></div>
												<div
													class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton rounded-full w-11 h-11"></div>
											</div>
										</div>
										<div class="space-y-3">
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[66px] rounded-md"></div>
											<div
												class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-[50px] h-[50px] rounded-md"></div>
										</div>
									</div>
								</div>
								<div
									class="px-[17px] pt-4 pb-2 w-full bg-white dark:bg-[#33353a] dark:border-[#4d4f55] rounded-xl border box-border shadow-[1px_1px_10px_0_rgba(72,75,108,.08)]">
									<div class="grid grid-cols-11 gap-x-4 place-items-center">
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
										<div
											class="bg-basicGrey dark:bg-[#2b2d31] animate-skeleton w-full max-w-[44px] aspect-square h-full rounded-md"></div>
									</div>
									<div class="grid grid-cols-11 mt-2 gap-x-4"></div>
								</div>
								<div class="flex gap-x-6">
									<div></div>
								</div>
								<div
									class="px-[17px] py-4 w-full bg-white dark:bg-[#33353a] dark:border-[#4d4f55] rounded-xl border box-border shadow-[1px_1px_10px_0_rgba(72,75,108,.08)]">
									<button class="w-full"
										id="headlessui-disclosure-button-:Rp6dbdj6:" type="button"
										aria-expanded="false" data-headlessui-state="">
										<div class="flex justify-between items-center">
											<div
												class="w-20 h-6 bg-[#8045DD26] dark:bg-[#DECFF6] rounded-[13px] flex justify-center items-center">
												<p class="text-sm font-semibold text-main2">카드</p>
											</div>
											<hr
												class="grow mx-3 border-basicGrey dark:border-placeholder" />
											<div class="flex items-center space-x-1.5">
												<p class="font-medium"></p>
												<svg xmlns="http://www.w3.org/2000/svg" fill="none"
													viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
													aria-hidden="true"
													class="w-5 h-5 transition-transform duration-100 ui-open:rotate-180">
													<path stroke-linecap="round" stroke-linejoin="round"
														d="M5 15l7-7 7 7"></path></svg>
											</div>
										</div>
										<div class="mt-3 grid grid-cols-6 gap-x-3">
											<div
												class="w-full mt-0.5 aspect-[248/375] bg-basicGrey dark:bg-[#2b2d31] rounded-md"></div>
											<div
												class="w-full mt-0.5 aspect-[248/375] bg-basicGrey dark:bg-[#2b2d31] rounded-md"></div>
											<div
												class="w-full mt-0.5 aspect-[248/375] bg-basicGrey dark:bg-[#2b2d31] rounded-md"></div>
											<div
												class="w-full mt-0.5 aspect-[248/375] bg-basicGrey dark:bg-[#2b2d31] rounded-md"></div>
											<div
												class="w-full mt-0.5 aspect-[248/375] bg-basicGrey dark:bg-[#2b2d31] rounded-md"></div>
											<div
												class="w-full mt-0.5 aspect-[248/375] bg-basicGrey dark:bg-[#2b2d31] rounded-md"></div>
										</div>
									</button>
								</div>
							</div>
							<span id="headlessui-tabs-panel-:Radbdj6:" role="tabpanel"
								tabindex="-1"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></span><span
								id="headlessui-tabs-panel-:Redbdj6:" role="tabpanel"
								tabindex="-1"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></span><span
								id="headlessui-tabs-panel-:Ridbdj6:" role="tabpanel"
								tabindex="-1"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></span><span
								id="headlessui-tabs-panel-:Rmdbdj6:" role="tabpanel"
								tabindex="-1"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></span><span
								id="headlessui-tabs-panel-:Rqdbdj6:" role="tabpanel"
								tabindex="-1"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></span><span
								id="headlessui-tabs-panel-:Rudbdj6:" role="tabpanel"
								tabindex="-1"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0"></span>
						</div>
						<div class="mt-8">
							<div>
								<ins class="block adsbygoogle w-[728px] h-[90px]"
									data-ad-client="ca-pub-2519817835153348"
									data-ad-slot="5149456459" data-full-width-responsive="true"></ins>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="min-[1260px]:block hidden grow shrink pl-6">
				<div
					class="w-[max(160px,min(300px,calc((100vw-1260px)/2)))] overflow-hidden h-[600px] mt-[60px]">
					<div>
						<ins class="block adsbygoogle h-[600px]"
							data-ad-client="ca-pub-2519817835153348"
							data-ad-slot="5149456459" data-full-width-responsive="true"></ins>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script id="__NEXT_DATA__" type="application/json">{"props":{"pageProps":{}},"page":"/characters/[nickname]","query":{},"buildId":"ynOTelbbD-sTJWejH7YeY","nextExport":true,"autoExport":true,"isFallback":false,"scriptLoader":[{"src":"https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2519817835153348","data-ad-client":"ca-pub-2519817835153348","async":true,"strategy":"afterInteractive"}]}</script>
</body>
</html>